

.comment__writing{

    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    textarea{
        width: 100%;
        height: 200px;
        border-radius: 10px;
        background-color: #292729;
        border: none;
        margin-bottom: 1rem;
        padding: 1rem;
        
    }

    .btn-form{
        align-self: flex-end;
    }
}