<div class="container">
    <div class="card">
        <h1>Filtrer Par</h1>
        <div class="status">
            <label for="enCours">
                <input type="checkbox" id="enCours"> En cours
            </label>
            <label for="terminer">
                <input type="checkbox" id="terminer"> Terminer
            </label>
        </div>
        <div class="filterBy">
            <div class="filter">
                <label for="filter1">Filtrer par plateformes:</label>
                <select id="filter1">
                    <option value="option1">----</option>
                </select>
            </div>
            <div class="filter">
                <label for="filter2">Filtrer par genre:</label>
                <select id="filter2">
                    <option value="option1">----</option>
                </select>
            </div>
            <div class="filter">
                <label for="filter3">Filtrer par score:</label>
                <select id="filter3">
                    <option value="option1">----</option>
                </select>
            </div>
            <div class="filter">
                <label for="filter3">Filtrer par année:</label>
                <select id="filter3">
                    <option value="option1">----</option>
                </select>
            </div>
        </div>
    
    </div>
</div>
