@use "../../../../import" as *;

.user-content {
    .user-row {
        display: flex;
        
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        
        p {
            color: #fff;
            padding: 2%;
            
        }

        .delete-button {
            color: #fff;
            background-color: $mainColor;
            border-radius: 10px;
            padding-left: 3%;
            padding-right: 3%;
            margin-left: auto;
        }
    }

    .user-divider {
        border: 3px solid $mainColor;
        border-radius: 3px;
    }
}