div {
    text-align: center;
    background-color: #2E2A31;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    font-size: 16px;
}
span {
    color: #FFF;
}