<section class="user-section">
    <div class="user-container">
        <div class="user-header">
            <div class="user-title">
                <h2>Derniers Utilisateurs Inscrit</h2>
            </div>
        </div> 
        <div class="user-content">
            <div class="user-row">
                <p>Nom d'utilisateurs</p>
                <p>Email</p>
                <p>Date d'inscription</p>
                <button class="delete-button">Supprimer</button>
            </div>
            <hr class="user-divider"/>
        </div>
    </div>
</section>

<div class="directory">1 2 3 4 5 ...</div>
