<section class="top-nav">
    <div>
      <a [routerLink]="['/homePage']"><img src="..\..\assets\pictures\did-you-beat-it--high-resolution-logo-transparent.svg" alt="logo" id="logo"></a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li><a [routerLink]="['/jeux']">Jeux</a></li>
      <li><a [routerLink]="['/login']">Se connecter</a></li>
      <li><a [routerLink]="['/signup']">S'inscrire</a></li>
    </ul>
</section>
<router-outlet></router-outlet>