<h2 class="column__title">Mes derniers jeux</h2>

<section id="last_games--wrapper">
        <ul class="last__games--column">
                <li class="last__game--item">
                        @for( game of games; track game.id) {

                <li><app-card-game-small [gameName]="game.name" [gameCover]="game.cover" [gameGenre]="game.genre"
                                [release]="game.releaseDate"></app-card-game-small></li>
                }
                </li>
                <li class="last__game--item">
                        <app-card-game-small></app-card-game-small>
                </li>
                <li class="last__game--item">
                        <app-card-game-small></app-card-game-small>
                </li>
        </ul>
        <ul class="last__games--column">
                <li class="last__game--item">
                        <app-card-game-small></app-card-game-small>
                </li>
                <li class="last__game--item">
                        <app-card-game-small></app-card-game-small>
                </li>
                <li class="last__game--item">
                        <app-card-game-small></app-card-game-small>
                </li>
        </ul>
</section>
<a href="/" class="button__more">Voir plus</a>

<div>
        @if(errorMessage) {
        <p>{{ errorMessage }}</p>
        }
</div>