.card-game {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

.game-image-small-card {
    height: 140px;
    width: 140px;
    object-fit: fill;
}

.game-infos {
    padding-left: 2rem;
    h4 {
        font-size: 22px;
        font-weight: bold;
        text-wrap: wrap;
    }
    p {
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 400;
        padding-top: 0.5rem;
    }
}