<h2 class="column__title">Mes derniers jeux</h2>

<section id="last_games--wrapper">
    <div class="last__games--column">
        <app-card-game-small class="last__game--item"></app-card-game-small>
        <app-card-game-small class="last__game--item"></app-card-game-small>
        <app-card-game-small class="last__game--item"></app-card-game-small>
    </div>
    <div class="last__games--column">
        <app-card-game-small class="last__game--item"></app-card-game-small>
        <app-card-game-small class="last__game--item"></app-card-game-small>
        <app-card-game-small class="last__game--item"></app-card-game-small>
    </div>

</section>
<a href="/" class="button__more">Voir plus</a>