<section class="edit-security-subpage">
    <h2>Authentification à deux facteurs (2FA)</h2>
    <form class="form">
        <div class="form-group">
            <div class="radio-choice">
                <input type="radio" id="authentification" name="security-authentification" value="authentification">
                <label for="authentification">Activer</label>
            </div>
            <div class="radio-choice">
                <input type="radio" id="authentification" name="security-authentification" value="authentification">
                <label for="authentification">Désactiver</label>
            </div>
        </div>
        <div class="button">
            <app-custom-button [btnType]="'submit'" [text]="textButton" [class]="'btn'"></app-custom-button>
        </div>
        </form>
</section>