<h2>Recommendations</h2>

<div class="recommendation-sections">
    <section class="popular-games-section">
        <h3>Jeux populaires </h3> 
        <a href="" class="see-more-recommendations">Voir plus</a> 
        <app-card-game-small></app-card-game-small>
        <app-card-game-small></app-card-game-small>
        <app-card-game-small></app-card-game-small>
    </section>

    <section class="future-releases-games-section">
        <h3>Prochaines sorties </h3> 
        <a href="" class="see-more-recommendations">Voir plus</a>
        <app-card-game-small></app-card-game-small>
        <app-card-game-small></app-card-game-small>
        <app-card-game-small></app-card-game-small>
    </section>

    <section class="top-rated-games-section">
        <h3>Les mieux notés </h3> 
        <a href="" class="see-more-recommendations">Voir plus</a>
        <app-card-game-small></app-card-game-small>
        <app-card-game-small></app-card-game-small>
        <app-card-game-small></app-card-game-small>
    </section>
</div>