.recommendation-container {
    background-color: #171515;
    color: #ffffff;
    padding: 3rem;
}

h2 {
    padding-bottom: 2rem;
    font-size: 54px;
    font-weight: bold;
}

h3 {
    font-size: 22px;
    font-weight: bold;
}

.recommendation-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.see-more-recommendations {
    color: #9D4EDD;
}

section:not(:last-child) {
    padding-right: 2rem;
}

@media screen and (max-width: 900px){
    .recommendation-container {
        padding: 2rem;
    }
    h2 {
        font-size: 34px;
    }
    .recommendation-sections {
        flex-wrap: wrap;
    }

    section:not(:last-child) {
        padding-right: 0rem;
        padding-bottom: 2rem;
    }
}