.recommendation-container {
    background-color: #171515;
    color: #ffffff;

}

h2 {
    padding-bottom: 2rem;
    font-size: 54px;
    font-weight: bold;
}

h3 {
    font-size: 22px;
    font-weight: bold;
}

.recommendation-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.see-more-recommendations {
    color: #9D4EDD;
}

section:not(:last-child) {
    padding-right: 2rem;
}

@media screen and (max-width: 1024px){
    .recommendation-container {
        max-width: 80%;
        margin: 0 auto;
        
    }
    h2 {
        font-size: 34px;
    }
    .recommendation-sections {
        flex-wrap: wrap;
        flex-direction: column;
    }
    section:not(:last-child) {
        padding-right: 0rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .recommendation-container{
        padding: 0;
    }

    .recommendation-sections {
        flex-wrap: wrap;
        align-content: center;
    }
    section {
        max-width: 80%;
    }

    
}

@media screen and (max-width: 768px){
    .recommendation-container {
        max-width: 90%;
        margin: 0 auto;
    }
    h2 {
        font-size: 34px;
    }
    .recommendation-sections {
        flex-wrap: wrap;
        flex-direction: column;
    }
    section:not(:last-child) {
        padding-right: 0rem;
        padding-bottom: 2rem;
    }
}