
@use "../../../import" as *;

.container {
    display: flex;
    
}

.navbar-vertical {
    height: auto;
    width: 240px;
    background-color: #292729;
    color: white;
    padding: 20px;
    
}

.navbar-vertical ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-vertical li {
    margin-bottom: 10px;
}

.navbar-vertical a {
    text-decoration: none;

}

li .active {
    color: $mainColor;
    font-weight: bold;
}