h2 {
    padding-bottom: 2rem;
    font-size: 54px;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    li:not(:last-child) {
        padding-right: 2rem;
    }
}