@import "../../import";

.btn {
    padding: rem(10) rem(20);
    font-size: rem(14);
    font-family: $defaultFont ;
    font-weight: 500;
    border: none;
    color: white;
    background-color: $mainColor;
    border-radius: rem(10);
    width: 10%;

}

.btn-edit {
    padding: rem(10);
    font-size: rem(14);
    font-family: $defaultFont ;
    font-weight: 500;
    border: none;
    color: $mainColor;
    background-color: white;
    border-radius: rem(10);
    width: 10%;
    max-width: 10%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .btn {
        font-size: rem(12);
        width: 15%;
        max-width: 15%;
    }

    .btn-edit {
        font-size: rem(12);
        width: 15%;
        max-width: 15%;
    }

}

@media screen and (max-width: 768px) {
    .btn {
        font-size: rem(12);
        width: 20%;
        max-width: 20%;
    }
    .btn-edit {
        font-size: rem(12);
        width: 20%;
        max-width: 20%;
    }
}