@use "../../../import" as *;

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 90vw;
  margin: 0 auto;
}

h1,
h2,
p {
  color: #fff;
}

h1{
  margin-bottom: 0.6rem;
}

h2 {
  margin: 0.5rem 0 1.5rem;
}


.homepage__introduction--text{
  margin-bottom: 2rem;
}

.homepage__introduction--column{
  display: flex; 
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 4rem;

  .homepage__introduction--text-wrapper{
    max-width: 550px;

    .column__title{
      margin-top: 0;
      padding-top: 0;
    }

    .column__text{
      max-width: 500px;
      text-align: left;
    }
  }
}

.homepage__introduction--column-img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

