@use '../../../import' as *;

.game__infos, .game__comments {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
}

.game__infos {
    display: flex;
    width: 100%;

    &--wrapper{
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        .game__infos--titlebtn{
            display: flex;
            align-items: center;

            .game__infos--btn{
                margin-left: 20px; 
                color: #fff;
                background-color: $mainColor;
                font-size: 20px;
                font-weight: 700;
                height: 40px;
                width: 40px;
                border-radius: 50%;

                &:hover{
                    background-color: #fff;
                    color: $mainColor;
                    cursor: pointer;
                }
            }
        }

        .game__infos--details{
            display: flex;
            margin-top: 0.5rem;
            width: 660px;
            justify-content: flex-start;
            align-items: center;
            
            .game__infos--details_release{
                display: flex;
                margin-right: 2rem;
                

                :first-child{
                    padding-left: 0;
                }

                :nth-child(2), :nth-child(3){
                    padding-left: 8px;
                }
            }

            .game__infos--details_platforms{
                display: flex;

                li{
                    padding: 0 5px;
                }
            }
        }

        .game__infos--genre{
            margin: 0.5rem 0 1rem;
            display: flex;
            justify-content: space-between;
            max-width: 250px;
        }

        .game__infos--description{
            margin-top: 1rem;
            width: 100%;
            max-width: 660px;
            font-size: 1.2rem;
            line-height: 1.5;
        }
    }
}

.game__galery{
    width: 100%;
    max-height: 400px;
    display: flex;
    justify-content: space-between;
    margin: 6rem 0;
    
    &--carousel{
        display: flex;
        margin: 0 2rem;
        width: 100%;
        overflow-x:hidden;

    }

    .game__galery--img{
        width: 500px;
        height: 400px;
        object-fit: cover;
    }
}