<app-homepage-banner></app-homepage-banner>

<main id="game">
    <section class="game__infos">
        <div class="game__cover--wrapper">
            <img src="" class="game__cover--img" alt="">
            <img src="" class="game__cover--rating" alt="rating">
        </div>
        <div class="game__infos--wrapper">
            <div class="game__infos--titlebtn">
                <h1 class="game__infos--title">Game Name</h1>
                <button class="game__infos--btn">+</button>
            </div>
            <div class="game__infos--details">
                <div class="game__infos--details_release">
                    <p class="game__infos--details--release">Release Date | </p>
                    <p class="game__infos--details--developer">Developer | </p>
                    <p class="game__infos--details--publisher">Publisher | </p>
                </div>
                <div class="game__infos--details_platforms">
                    <p class="game__infos--details--platform">Platform</p>
                </div>
            </div> 
            <div class="game__infos--genre">
                <p class="game__infos--details--genre">Genre</p>
            </div>
            <p class="game__infos--description">
                Description
            </p>
        </div>
    </section>
    <section class="game__galery">
        <div class="game__galery--carousel">
            <img src="" class="game__galery--img" alt="">
            <img src="" class="game__galery--img" alt="">
            <img src="" class="game__galery--img" alt="">
            <img src="" class="game__galery--img" alt="">
        </div>
    </section>
    <section class="game__comments">
        <div class="game__comments--wrapper">
            <div class="game__comments--list">
                <div class="game__comments--list--comment">
                    <div class="game__comments--author--infos">
                        <img src="" alt="author avatar" class="game__comments--author--img">
                        <div class="game__comments--author--details">
                            <p class="game__comments--list--comment--author">Author</p>
                            <div class="game__comments--completion">
                                <div class="game__comments--list--comment--stars">Rating</div>
                                <p class="game__comments--list--comment--completion">Complété sur ...</p>
                            </div>
                        </div>
                    </div>
                    <p class="game__comments--list--comment--text">Comment</p>
                    <hr/>
                </div>
            </div>
        </div>
    </section>

</main>