@for (game of games; track game) {
<img class="gameBanner" [src]="getArtworkUrls(game)" alt="game.name">

<article id="game">
    <section class="game__infos">
        <div class="game__cover--wrapper">
            @if(game.cover) {
            <img [src]="game.cover" class="game__cover--img" alt="{{game?.name}} cover">

            }
            
            @if(isConnected  === true && game.isGameAdded  && isGameFinished === false) {
                <app-custom-button [class]="'btn'" [btnType]="'submit'" [text]="btnText" (click)="toggleGame()"></app-custom-button>
            } @else if(game.isGameAdded   && isGameFinished === true) {
                <app-custom-button [class]="'btn-finished'" [btnType]="'submit'" [text]="btnText" (click)="toggleGame()"></app-custom-button>
            }

        </div>
        <div class="game__infos--wrapper">
            <div class="game__infos--titlebtn">
                <h1 class="game__infos--title">{{ game?.name }}</h1>
                @if(isConnected === true && !game.isGameAdded ) {
                <button class="game__infos--btn-plus" (click)="addGameToUserList(game)">+</button>
                } @else if(isConnected === true && game.isGameAdded ) {
                <button class="game__infos--btn-minus" (click)="deleteGameToUserList(game)">-</button>
                }
            </div>
            <div class="game__infos--details">
                <div class="game__infos--details_release">
                    <p class="game__infos--details--release">{{ game?.releaseDate}} |</p>
                    <p class="game__infos--details--publisher"> {{ game?.involved_companies }} </p>
                </div>
                <div class="game__infos--details_platforms">
                    <li *ngFor="let platform of game?.platform" class="game__infos--details--platform"> {{ platform }}
                    </li>
                </div>
            </div>
            <div class="game__infos--genre">
                <li class="game__infos--details--genre">{{ game.genre }}</li>
            </div>
            @if (game?.summary) {
                <p class="game__infos--description">
                    {{ game?.summary }}
                </p>
            } @else {
                <p class="game__infos--description">Aucune description disponible</p>
            }
        </div>
    </section>
    @if (isConnected === true && game.isGameAdded && isGameFinished === true){
    <section class="game__vote">
        <app-game-vote [title]="'Sur quelle plateforme ?'"
            [items]="getPlatformsForVoting(game?.platform)"></app-game-vote>
    </section>
    }
    <section class="game__galery" id="carousel" (mousemove)="onMouseMove($event)">
        <div *ngFor="let screenshot of getScreenshotUrls(game)" class="game__galery--carousel">
            <img src="{{ screenshot }}" class="game__galery--img" alt="{{game?.name}} image"
                (click)="openModal(screenshot)">
        </div>
    </section>

    <div class="modal" [ngStyle]="{'display': modalOpen ? 'block' : 'none'}">
        <span class="close" (click)="closeModal()">&times;</span>
        <img class="modal-content" [src]="modalImage" alt="{{game?.name}} image">
    </div>
</article>
}

@if(errorMessage) {
{{errorMessage}}
}